CoAP-HTTP mapping

Do we need to / should we consider whether OSCOAP can survive a HC or CH proxy?

I don't see a use case for OSOCAP over CH proxies (for the server would need to be aware of OSCOAP, and then it's aware of CoAP too), but for the HC case this could be interesting (eg. because a javascript application wants to do end-to-end security where it has a HC proxy but no coap+ws).

The only reason I see off my head where this could and would fail is if client and proxy disagree about the Class I options (of which practically none are defined right now) or the response code.

Should we think about that, or is that just out of scope, and if so, should we state that?

We definitely want to address this.  This was a subject of the T2TRG/OCF meeting in Amsterdam.

Trying to understand the assumptions of the endpoints. You reject CH because the server need to be aware of OSCOAP. Why doesn't the client in the HC case also need to be aware of OSCOAP? Or, if you think of the case that there is an application that is aware of OSCOAP but CoAP is not implemented in the network stack, why doesn't that apply to the CH case also?


> if you think of the case that there is an application that is aware of OSCOAP but CoAP is not implemented in the network stack

@gselander: Because there are practical examples of this in the HC case (browser javascript that can open an XMLHttpRequest but do no other networking), and I don't know where CH happens (though Mozilla's upcoming flyweb could make a case for that). I'd be happy to think about on those cases as well, I just couldn't think of any examples of them in the original issue statement.

On May 11, 2017, at 15:46, gselander <notifications@github.com> wrote:
> 
> Trying to understand the assumptions of the endpoints. You reject CH because the server need to be aware of OSCOAP.

Of course the server has to be aware of the end-to-end security.  That’s what we are designing for.

> Why doesn't the client in the HC case also need to be aware of OSCOAP? Or, if you think of the case that there is an application that is aware of OSCOAP but CoAP is not implemented in the network stack, why doesn't that apply to the CH case also?

Yes.  What we should achieve is that we can transport OSCOAP over HTTP or H2 hops with no problem and get good end-to-end security.
The ends *will* have to take part in that in any case.

Grüße, Carsten



OK. I think it is fine to include HC-proxy mapping if it restricts to the Object-Security option. If I understand right this would not impact the client and server implementations. Any other views on that?

Given that the HTTP mapping guidelines already ask extensions to specify their HTTP mapping, I suggest the following:

~~~
As requested in [RFC8075] Section 1, this protocol extension describes a HTTP
mapping as follows:

The presence and content of the Object-Security option, both in requests and
responses, is expressed in a HTTP header field named Object-Security in the
mapped request or response. The value of the field is the is the value of the
CoAP Object-Security option in base64url encoding [RFC4648].

In addition, whenever the Object-Security field is present, the protected
message's code is expressed in a HTTP header field named CoAP-Code in dotted
code number notation with leading zero. When converting an HTTP request or
response to CoAP, the code in the CoAP-Code field gets used in the CoAP
message, and the response code mapping rules ([RFC8075] Section 7) are ignored.

Invalid base64url data, the absence of the CoAP-Code field or a CoAP-Code field
value that can not be expressed as a CoAP code byte constitute an error, and
MUST result in a 4.02 Bad Option or 400 Bad Request, depending on the protocol
used in the request. If any mapper receives an Object-Security header, it MUST
verify that the code classes match to the extent of being a request (CoAP code
class 0 mapped to an HTTP request) or a response (CoAP code classes 1-5 mapped
to a HTTP response) code.

Example:

| [Client to Proxy -- HTTP]
| 
| GET /hc/coap://device.local/ HTTP/1.1
| Hostname: proxy.local
| CoAP-Code: 0.01
| Object-Security: gQEFY2xpZW50u3RlbXBlcmF0dXJlLi4uLi4uLi4=
| 
| [Proxy to Server -- CoAP]
| 
| GET /
| Uri-Host: device.local
| Object-Security: 81 01 05 63 ...
| 
| [Sever to Proxy -- CoAP response]
| 
| 2.05 Content
| Object-Security: [empty]
| Payload: 00 47 01 02 03 04 05 06 07 08 [binary]
| 
| [Proxy to Client -- HTTP response]
| 
| HTTP/1.1 200 OK
| Object-Security: [empty]
| CoAP-Code: 2.05
| Body: 00 47 01 02 03 04 05 06 07 08 [binary]

IANA consideration: The option is registered according to BCP90
~~~

(I considered saying that the base64url encoding should not use padding, which should just work, but is not covered by RFC4648 and only precedented in RFC6920 where lengths are fixed).

On May 19, 2017, at 09:45, chrysn <notifications@github.com> wrote:
> 
> (I considered saying that the base64url encoding should not use padding, which should just work, but is not covered by RFC4648 and only precedented in RFC6920 where lengths are fixed).

Base64url without padding is used in a lot of protocols.
For example, see RFC 7515 (which has a whole appendix C with pseudocode for that).

Grüße, Carsten



Proposals included in a new appendix A through a series of commits ending in 669de6d5c