Make replay window size a multiple of 8

The way it is defined now, implementers have to jump through hoops to enable people to choose weird replay window sizes. It would be much more convenient if the sizes where required to be multiples of 8.

Seems like a good idea. I think the replay window handling may need some more text. The description in  3.3 does not align with later section. The later sections allows other types of replay protection if e.g. TCP or other reliable transports are used.

Changed the text to say that:

"The supported type of replay protection is application specific and depends on the lower layers. It is mandatory to support a DTLS-type replay window with size 64. This default Replay Window is initiated as described in Section 4.1.2.6 of [RFC6347]."

Do we need to force the implementation to support anything else?
What is easiest to implement? Is size 32 even better? Then the replay window can be a 32 bit unsigned integer?


Does the window size at all need that much consideration in the spec? At it seems to me, it shouldn't need any more coordination between the participants than, say, retransmission times, in that both should work with the expected lossiness of the network, but if one party works with a size of 64 and one with 42, no harm will come of it – or will it?

I would agree with chrysn, I do not see that there is any need to have a consistent size for the replay window.   In the multi-cast cases, I would expect that asymmetry might be the rule rather than the exception.  The normal receivers having a larger window - because of possible replays -- than the nominal sender does because it is only going to get occasional replies and would have more replay windows to manage.

As much as I like hearing that, in the meantime I've found a case where it does matter: To keep the overhead of Request-Tag zero or at least low, the client needs to know about the server's mechanism. (See also https://github.com/core-wg/oscoap/issues/99)

Can this consideration be moved to the request tag draft? In the document right now there is no MTI, only a default.