SecCons: Does not negate amplification

RFC 7252 describes that amplification is a risk in NoSec scenarios (11.3).

OSCOAP provides security but does not negate the risk of amplification, because a client that has a security context with a server can make the server send large responses to any IP address (because the context is not bound to an address, which is generally a good thing). I suggest a paragraph like

> The security considerations of Section 11.3 of RFC7252 (amplification mitigation) apply to OSCOAP even though it is not a NoSec mode.

As OSCOAP will probably normatively reference repeat-request-tag, one could add

> In addition to the mitigation strategies recommended there, the Repeat option of repeat-request-tag can be used.

(This was created following issue https://github.com/chrysn/repeat-request-tag/issues/1 there)