Define way to know OSCOAP is needed

Currently (D)TLS usage is tagged by the use of a different scheme in the URL.  I am not sure that this is the way that should be done for OSCOAP although it could be.  It would also be possible to define a new field for the link format (RFC 6690) that would give the required security information.   I think this is different from a field that would be needed to be defined in ACE where the AS should be published.

I think that defining a target attribute is the right way to go. Analogous to how observe does ([RFC7641 section 6](https://tools.ietf.org/html/rfc7641#section-6)), this would be a hint that the client is supposed to use OSCOAP. If a client does not use OSCOAP on a resource that is protected and only accessible with OSCOAP, the server sends an error back (as specified in section 6.3: "A CoAP server receiving an unprotected CoAP request to access a protected resource (as defined Section 3.2.2) SHALL reject the message with error code 4.01 (Unauthorized)."

That looks reasonable.