Typo. Should it not be response instead of request?

**In 7.4 Verifying the Response**
_4. If decryption fails, the client MUST stop processing the response and, if the request is a CON message, the client MUST respond with an empty ACK back._

Should it not be **response** instead of **request**?

With the current wording, a sequence

```
--------------------- CON request, MID 12 ------------>
<-- ACK, piggy backed response, MID 12, decrypt fails --
--------------------- ACK, empyt, MID ??? ------------->

```
would cause a violation of RFC7252, section 2.1, because ACK as answer to ACK is not defined there.
Only for CON messages ACK or RST and for NON messages RST is defined.  
 

@T0bbe yes that's right, thanks for pointing that out! And @boaks yes, that is not what we intended to write, but a typo on our part.

The phrase above (with the correction) covers the following scenario:

```
--------------------- CON request, MID 12 ------------>
<-------------------- ACK, MID 12 ---------------------
<-------------------- CON response, MID 13 ------------
decrypt fails
--------------------- ACK, empty, MID 13 ------------->
```

and would avoid retransmission of the response (MID 13) that would happen otherwise, since the response was a CON and no ACK was received.