kid parameter

in section 5.2 it is unclear what the 'unprotected' field of the message is.
Probably the oscore option is meant. If yes, mark as such. This is confusing.

in section 5.4 the aad array is composed of request_kid and request_piv. It is idifficult to guess why the request_ prefix is added to kid and piv. Why not request_ oscore_version request_algorithms and request_options to be consistent? Or remove request_ everywhere.

Hi Peter, thanks for your comments!

> in section 5.2 it is unclear what the 'unprotected' field of the message is.
> Probably the oscore option is meant. If yes, mark as such. This is confusing.

I did a quick search for "unprotected" in section 5.2 and could not find it. If you meant the one in Section 5, then 'unprotected' refers to the COSE_Encrypt0 field, as defined in RFC8152. We could add a pointer to the specific section 5.2 of RFC8152 the first time we mention COSE_Encrypt0, would that help?

> in section 5.4 the aad array is composed of request_kid and request_piv. It is idifficult to guess why the request_ prefix is added to kid and piv. Why not request_ oscore_version request_algorithms and request_options to be consistent? Or remove request_ everywhere.

The idea is that the text following the CDDL should explain it: "... contains the value of X in the COSE object of the request" This means that the implementer should take the value of X from the request and put it in this external_aad field. This process is the same for external_aad of requests and responses. This is why only those 2 fields have the prefix "request_" (their value comes from the request) while the others don't (their value comes from the message itself, either request or response). Is there a way we can clarify this?

We could add a pointer to the specific section 5.2 of RFC8152 the first
time we mention COSE_Encrypt0, would that help?
Yes that would for me.

In section 5.4 the aad array is composed of request_kid and request_piv.
"request" as in request message and does section 5 refer to RFC8152?
fpalombini schreef op 2019-03-27 04:36:

> Hi Peter, thanks for your comments!
> 
>> in section 5.2 it is unclear what the 'unprotected' field of the message is.
>> Probably the oscore option is meant. If yes, mark as such. This is confusing.
> 
> I did a quick search for "unprotected" in section 5.2 and could not find it. If you meant the one in Section 5, then 'unprotected' refers to the COSE_Encrypt0 field, as defined in RFC8152. We could add a pointer to the specific section 5.2 of RFC8152 the first time we mention COSE_Encrypt0, would that help?
> 
>> in section 5.4 the aad array is composed of request_kid and request_piv. It is idifficult to guess why the request_ prefix is added to kid and piv. Why not request_ oscore_version request_algorithms and request_options to be consistent? Or remove request_ everywhere.
> 
> The idea is that the text following the CDDL should explain it: "... contains the value of X in the COSE object of the request" This means that the implementer should take the value of X from the request and put it in this external_aad field. This process is the same for external_aad of requests and responses. This is why only those 2 fields have the prefix "request_" (their value comes from the request) while the others don't (their value comes from the message itself, either request or response). Is there a way we can clarify this? 
> 
> --
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub [1], or mute the thread [2].
 

Links:
------
[1] https://github.com/core-wg/oscoap/issues/256#issuecomment-477110416
[2]
https://github.com/notifications/unsubscribe-auth/AMWTQS21PahYGs8t-HBBoR2uyPI1o2aMks5va1fDgaJpZM4b8I5_

> Yes that would for me.

Ok, we will go ahead and make this change.

> In section 5.4 the aad array is composed of request_kid and request_piv.
> "request" as in request message 

Yes, request as in CoAP request message.

> and does section 5 refer to RFC8152?

No, it refers to OSCORE Section 5. In general, if there is no "of RFCXXXX" we always mean "of the same document". It is easier to see that in the html version, where there are links: https://tools.ietf.org/html/draft-ietf-core-object-security-16#section-5.4