Safeness / idempotency

OSCOAP requests are not side-effect free (they change the replay window state), but still can use safe request codes. Servers may skip duplicate request detection on safe or idempotent requests (eg GET, DELETE) as per RFC 7252 section 4.5. A proxy is also a server.

Can't thus the following happen?

* Client sends GET mid=1 seqno=1 to proxy
* Proxy forwards as GET mid=101 seqno=1 to server
* Server generates response and strikes out seqno=1; being a OSCOAP server it carefully caches the response *at message duplication level*
* Proxy receives response before its empty-ack timeout, and forwards it as an ACK -- that package gets lost
* Client retransmits the GET mid=1 seqno=1
* Proxy did not cache the request per the above, and forwards GET mid=102 seqno=2 to server
* This misses the message duplication layer at the server due to the new mid, and generates a new request
* The request fails as a seqno reuse.

If this can happen as per current spec, the solution that comes to my mind is:

State that the server can (and should) employ some caching mechanism at the OSCOAP layer (ie. key is the complte OSCOAP ciphertext plus anything needed for AAD), and serve responses from there for as long as it would store responses for mid-based deduplication. The server is then again free to forego response caching at the message deduplication layer per idempotency rules. A server might, instead of caching the response, store a sufficient hash of the request and the response (what is sufficient?), rebuild the response from the already used seqno (that's why the response needs to be hashed as well, we really can't afford diverging answers here) and respond with that. (If the response doesn't match anymore, an unencrypted 5.03 Max-Age=0 might be appropriate.)

@chrysn: I'm sorry but I got lost in the example. Is the proxy changing the sequence number from 1 to 2, or is that just a typo (i.e. should be "proxy forwards GET mid=102 seqno=1")?

Assuming the latter. I don't know enough of the interaction between the layers within CoAP, but would this be considered as a new CoAP request also by the "upper CoAP layer" (i.e. not message layer), or does it not matter from the point of view of CoAP whether it is a new request or not?


@gselander ... and then I lost track of that question. indeed it was a typo and your should-be is correct.

The request the proxy generates (mid=102 seqno=1) would be a distinct request for all intents and purposes until the OSCOAP duplicate detection takes place. It would qualify for serving from a cache were there a non-zero Max-Age (or possibly in its absence, not sure about that) because all the request's Cache-Key properties are alike, but the proxy does not necessarily provide one.

Still not perfectly clear about the issue, sorry about that. 

If I understand right this refers to 
"The recipient SHOULD acknowledge each
   duplicate copy of a Confirmable message using the same
   Acknowledgement or Reset message but SHOULD process any request or
   response in the message only once.", right?
The replay protection of OSCOAP does acknowledge a duplicate message, however with an OSCOAP error message, and does only process each message once. As a result the client need to resend the message. Is that not acceptable?


Indirectly; the first "SHOULD" in your quote in turn refers to:

> A server might relax the requirement to answer all retransmissions
>      of an idempotent request with the same response (Section 4.2), so
>      that it does not have to maintain state for Message IDs.

Ad "Is that not acceptable": AFAICT we are not saying that a replay error should result in a retry (until recently, the client couldn't even tell a replay apart from any other error). If we decide that retrying is the correct response to such an error (and how often?) and state that, that would solve the effect of this non-safeness of an OSCOAP GET, and I can't think ony other, so then yes, the issue would be solved.

We need to add some text about errors not being protected in section 7.4 (see #126)
Once we do that, we will also add the text you suggest.

Simplest solution: we can have a 4.TBD (or possibly 5.03 Max-Age:0) error for that situation that says "You may retry immediatly" (and the client uses a new sequence number) -- the other solution would be #139.

Sorry, I got things mixed up a little between my understanding of the meaning of the issues and what's written dow n there. The "other solution" I mentioned above (and which https://github.com/core-wg/oscoap/issues/139#issuecomment-316060884 pertains to) would have been that a server could be free to forego sequence number verification when answering a Safe request (but it would still need to know that it answered the request before and mint a new IV). That's behavior that implementors are likely to get wrong, so we better not specify it.

closed in 7ebec68 (together with the replay protection update)